mixin FooterList(...items)
  each item in items
    li.mb-3
      a.text-700.text-decoration-none(href='#!')
        =item

mixin Footer
  section.py-0#contact
    +Background({ image: `${CWD}assets/img/illustrations/footer-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: '' })
    .container
      .row.justify-content-lg-between.min-vh-75(style="padding-top:21rem")
        .col-6.col-sm-4.col-lg-auto.mb-3
          h6.mb-3.text-1000.fw-semi-bold COMPANY
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('About Us','Team','Careers','Contact')

        .col-6.col-sm-4.col-lg-auto.mb-3
          h6.mb-3.text-1000.fw-semi-bold SERVICES
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Process Automation','System Integration','Cloud Solutions','AI & Analytics')
        .col-6.col-sm-4.col-lg-auto.mb-3
          h6.mb-3.text-1000.fw-semi-bold LEGAL
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Privacy','Terms','Security')
        .col-12.col-lg-auto.mb-3
          .card.bg-success
            .card-body.p-sm-4
              h5.text-white Contact Us
              p.mb-0.text-white Get in touch
                span.text-white.fs--1.fs-sm-1  info@processware.co.kr
              button.btn.btn-light.text-success(type='button')
                svg.bi.bi-person.me-1(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#76C279' viewBox='0 0 16 16')
                  path(d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')
                | Inquire
      hr.text-300.mb-0
      .row.flex-center.py-5
        .col-12.col-sm-8.col-md-6.text-center.text-md-start
          a(href='#').text-decoration-none
            img.d-inline-block.align-top.img-fluid(src='assets/img/gallery/logo-icon.png' alt='' width='40')
            span.text-theme.font-monospace.fs-3.ps-2 Processware

        .col-12.col-sm-8.col-md-6
           p.fs--1.text-dark.my-2.text-center.text-md-end &copy; 2026 Processware. All rights reserved.
